# Instructions:
# You'll need to make use an existing or create a new SQL connection as well as create a new schema in MySQL.
# You also need to get the username and password for the connection you made that you want to use for this server.
# You'll need to fill in the correct data on the lines below

PORT = 5000
USER = <MYSQL USERNAME>
PASSWORD = <MYSQL PASSWORD>
DATABASE = <MYSQL SCHEMA NAME>
DB_PORT = <MYSQL PORT>
HOST= <MYSQL HOSTNAME>
CLIENT_ID = <GOOGLE_CLIENT_ID>
CLIENT_SECRET = <GOOGLE_CLIENT_SECRET>

JWT_SECRET = <RANDOM 64 BYTE HEXSTRING>  can be generated with https://onlinerandomtools.com/generate-random-hexadecimal-numbers
AZURE_COGNITIVE_SERVICES_KEY = <KEY>
AZURE_COGNITIVE_SERVICES_ENDPOINT= <LINK>

